.edit-form {
  padding: 1.875rem 3rem;
}

.edit-form__subheading {
  font-weight: 500;
  font-size: .8125rem;
  color: #828282;
  margin-top: 0.25rem;
  margin-bottom: 1.625rem;
}

.edit-form__pic{
  display: flex;
  align-items: center;
  margin-bottom: 2.0625rem;
}

.edit-form__pic input {
  display: none;
}

.edit-form__change-photo{
  margin-left: 1.7188rem;
  text-transform: uppercase;
  font-size: .8125rem;
  color: #b4b4b4;
  cursor: pointer;
}

.edit-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.edit-form__input {
  display: flex;
  flex-direction: column;
  font-size: .9375rem;
  gap: .25rem;
}

.edit-form__input input, .edit-form__input textarea {
  border: 1px solid #e0e0e02f;
  background-color: transparent;
  border-radius: .75rem;
  padding: 1rem;
  color: #c7c7c7;
}

.edit-form__input textarea {
  resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.edit-form__submit {
  background-color: #2F80ED;
  border-radius: .5rem;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  padding: .5rem 1.5rem;
  width: fit-content;
  cursor: pointer;
}

.edit-form__submit:hover {
  background-color: #12478b;
}


@media screen and (max-width: 450px) {
  .edit-form {
    padding: 1.875rem 1rem;
  }
}

