.chat-sidebar {
  background-color: #120F13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.chat-sidebar__nav {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  gap: 1.4375rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrowBack,
.chat-sidebar__close-icon {
  color: #F2F2F2;
  cursor: pointer;
}

.arrowBack:hover,
.chat-sidebar__close-icon:hover {
  color: #a3a3a3;
}

.chat-sidebar__nav p {
  font-weight: 700;
  font-size: 1.125rem;
  color: #E0E0E0;
}

.chat-sidebar__channel {
  padding: 25px 33px 44px 33px;
  margin-bottom: auto;
  margin-top: 1rem;
  max-height: calc(100vh - 95px);
  overflow-y: auto;
}


.chat-sidebar__channel-name,
.chat-sidebar__channel-members-title {
  text-transform: uppercase;
  color: #E0E0E0;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
}

.chat-sidebar__channel-description {
  color: #c7c7c7;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2.75rem
}

.chat-sidebar__channel-member {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 42px 1fr 12px;
  gap: 1.75rem;
  align-items: center;
  cursor: pointer;
}

.chat-sidebar__channel-member:hover {
  text-decoration: underline;
}

.chat-sidebar__image {
  width: 42px;
  height: 42px;
  border-radius: 7px;
}

.chat-sidebar__username {
  font-weight: 700;
  color: #828282;
}

.chat-sidebar__profile {
  position: relative;
  background-color: #0B090C;
  padding: 1.5rem 33px 1.5rem 33px;
  display: flex;
  align-items: center;
}

.chat-sidebar__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}


@media screen and (max-width: 1000px) {
  .chat-sidebar {
    position: absolute;
    width: 85%;
    z-index: 5000000;
    transition: all 0.5s ease-in-out;
    height: var(--dynamic-height, 100vh);
  }

  .chat-sidebar__close {
    transform: translateX(-100vw);
  }

  .chat-sidebar__open {
    transform: translateX(0);
  }

  .chat-sidebar__nav--sidebar {
    justify-content: space-between;
  }

  .chat-sidebar__nav p {
    font-size: 1rem;
  }


}