.register {
  min-height: 100dvh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__author-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .75rem;
  padding: 1rem;
}
.register__author-link {
  text-decoration: none;
}

.register__created-by, .register__author-link {
  color: #828282;
  font-size: .875rem;
}

.register__created-by span {
  text-decoration: underline;
}