.chat {
  background-color: #252329;
  height: 100vh;
}

.chat__hamburger:hover {
  color: #a3a3a3;
  cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat__channel-name p {
  margin: 0 1rem;
  text-transform: uppercase;
  background-color: #252329;
  position: sticky;
  top: 0;
  z-index: 500;
}

.messages {
  overflow-y: auto;
  max-height: calc(100vh - 149px);
  padding: 1.5rem 1.5rem 0 1rem;
}

.chat__type,
#message {
  width: 100%;
}

.chat__send {
  display: flex;
  align-items: center;
  background-color: #3C393F;
  border-radius: .5rem;
  padding: 1rem;
  gap: 1rem;
  position: sticky;
  bottom: 0;
}

#message {
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  color: #E0E0E0;
}


#send {
  background: #2F80ED;
  border-radius: 8px;
  border: none;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#send:hover {
  background: #5da0f7;
}

@media screen and (max-width: 1000px) {
  .chat-container {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
  }

  .chat__send {
    margin: 0 6px;
  }

  .messages {
    padding: 0.5rem .625rem 0 0.5rem;
  }
}