.message {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 1.2rem;
  margin-bottom: 1.3rem;
}

.message img {
  width: 60px;
  height: 60px;
  object-fit: fill;
  border-radius: 50%;
}

.message__top {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #828282;
}

.message_username {
  font-weight: 700;
  font-size: 18px;
}

.message__date {
  font-size: .875rem;
}

.message__bot p {
  color: #E0E0E0;
}


@media screen and (max-width: 1000px) {
  .message {
    grid-template-columns: 45px 1fr;
    column-gap: .3125rem
  }

  .message_username {
    font-size: .875rem;
  }

  .message img {
    width: 40px;
    height: 40px;
  }

  .message__date {
    font-size: .625rem;
  }

  .message__bot p {
    font-size: .75rem;
  }
}